# Lab 01 ######################################################

# Miscellaneous
Week_02/ctse_lab_01_todo_app/*.class
Week_02/ctse_lab_01_todo_app/*.log
Week_02/ctse_lab_01_todo_app/*.pyc
Week_02/ctse_lab_01_todo_app/*.swp
Week_02/ctse_lab_01_todo_app/.DS_Store
Week_02/ctse_lab_01_todo_app/.atom/
Week_02/ctse_lab_01_todo_app/.buildlog/
Week_02/ctse_lab_01_todo_app/.history
Week_02/ctse_lab_01_todo_app/.svn/
Week_02/ctse_lab_01_todo_app/migrate_working_dir/

# IntelliJ related
Week_02/ctse_lab_01_todo_app/*.iml
Week_02/ctse_lab_01_todo_app/*.ipr
Week_02/ctse_lab_01_todo_app/*.iws
Week_02/ctse_lab_01_todo_app/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
Week_02/ctse_lab_01_todo_app/**/doc/api/
Week_02/ctse_lab_01_todo_app/**/ios/Flutter/.last_build_id
Week_02/ctse_lab_01_todo_app/.dart_tool/
Week_02/ctse_lab_01_todo_app/.flutter-plugins
Week_02/ctse_lab_01_todo_app/.flutter-plugins-dependencies
Week_02/ctse_lab_01_todo_app/.packages
Week_02/ctse_lab_01_todo_app/.pub-cache/
Week_02/ctse_lab_01_todo_app/.pub/
Week_02/ctse_lab_01_todo_app/build/

# Web related
Week_02/ctse_lab_01_todo_app/lib/generated_plugin_registrant.dart

# Symbolication related
Week_02/ctse_lab_01_todo_app/app.*.symbols

# Obfuscation related
Week_02/ctse_lab_01_todo_app/app.*.map.json

# Android Studio will place build artifacts here
Week_02/ctse_lab_01_todo_app/android/app/debug
Week_02/ctse_lab_01_todo_app/android/app/profile
Week_02/ctse_lab_01_todo_app/android/app/release


# Lab 02 ######################################################

# Miscellaneous
Week_03/ctse_lab_02_todo_app/*.class
Week_03/ctse_lab_02_todo_app/*.log
Week_03/ctse_lab_02_todo_app/*.pyc
Week_03/ctse_lab_02_todo_app/*.swp
Week_03/ctse_lab_02_todo_app/.DS_Store
Week_03/ctse_lab_02_todo_app/.atom/
Week_03/ctse_lab_02_todo_app/.buildlog/
Week_03/ctse_lab_02_todo_app/.history
Week_03/ctse_lab_02_todo_app/.svn/
Week_03/ctse_lab_02_todo_app/migrate_working_dir/

# IntelliJ related
Week_03/ctse_lab_02_todo_app/*.iml
Week_03/ctse_lab_02_todo_app/*.ipr
Week_03/ctse_lab_02_todo_app/*.iws
Week_03/ctse_lab_02_todo_app/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
Week_03/ctse_lab_02_todo_app/**/doc/api/
Week_03/ctse_lab_02_todo_app/**/ios/Flutter/.last_build_id
Week_03/ctse_lab_02_todo_app/.dart_tool/
Week_03/ctse_lab_02_todo_app/.flutter-plugins
Week_03/ctse_lab_02_todo_app/.flutter-plugins-dependencies
Week_03/ctse_lab_02_todo_app/.packages
Week_03/ctse_lab_02_todo_app/.pub-cache/
Week_03/ctse_lab_02_todo_app/.pub/
Week_03/ctse_lab_02_todo_app/build/

# Web related
Week_03/ctse_lab_02_todo_app/lib/generated_plugin_registrant.dart

# Symbolication related
Week_03/ctse_lab_02_todo_app/app.*.symbols

# Obfuscation related
Week_03/ctse_lab_02_todo_app/app.*.map.json

# Android Studio will place build artifacts here
Week_03/ctse_lab_02_todo_app/android/app/debug
Week_03/ctse_lab_02_todo_app/android/app/profile
Week_03/ctse_lab_02_todo_app/android/app/release

# In_Lab 01 ######################################################

# Miscellaneous
in_lab_test_01/*.class
in_lab_test_01/*.log
in_lab_test_01/*.pyc
in_lab_test_01/*.swp
in_lab_test_01/.DS_Store
in_lab_test_01/.atom/
in_lab_test_01/.buildlog/
in_lab_test_01/.history
in_lab_test_01/.svn/
in_lab_test_01/migrate_working_dir/

# IntelliJ related
in_lab_test_01/*.iml
in_lab_test_01/*.ipr
in_lab_test_01/*.iws
in_lab_test_01/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
in_lab_test_01/**/doc/api/
in_lab_test_01/**/ios/Flutter/.last_build_id
in_lab_test_01/.dart_tool/
in_lab_test_01/.flutter-plugins
in_lab_test_01/.flutter-plugins-dependencies
in_lab_test_01/.packages
in_lab_test_01/.pub-cache/
in_lab_test_01/.pub/
in_lab_test_01/build/

# Web related
in_lab_test_01/lib/generated_plugin_registrant.dart

# Symbolication related
in_lab_test_01/app.*.symbols

# Obfuscation related
in_lab_test_01/app.*.map.json

# Android Studio will place build artifacts here
in_lab_test_01/android/app/debug
in_lab_test_01/android/app/profile
in_lab_test_01/android/app/release